@import "variables";

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  &_white {
    color: $white
  }
}

.title {
  font-weight: 700;
  letter-spacing: 0;
  &_white {
    color: $white
  }
  &_fs-22 {
    font-size: 22px;
    line-height: 26px;
  }
  &_fs-24 {
    font-size: 24px;
    line-height: 28px;
  }
  &_upper {
    text-transform: uppercase;
  }
}

